<div>
  <h1>Edit Company</h1>
  <p>Insert data</p>
  <form [formGroup]="companyForm" (ngSubmit)="sendCompanyData()">
    <div class="form-content">
      <mat-form-field style="margin-top: 50px; width: 50%">
        <mat-label>Company name</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field style="margin-top: 10px; width: 50%">
        <mat-label>Postal codes</mat-label>
        <input matInput id="zipcodes" formControlName="zipcodes" />
      </mat-form-field>

      <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      type="submit"
      [disabled]="companyForm.invalid"
    >
      Edit
    </button>
    </div>
  </form>
</div>
